# crontab config (to be added to /etc/crontab)
15 10	* * *	root	cd /weekly && python3 daily.py >> all.log 2>&1
0  0	* * 1	root	cd /weekly && python3 disc.py >> all.log 2>&1
0  0	* * 5	root	cd /weekly && python3 cdf.py >> cdf.log 2>&1
0  0	* * 7	root	cd /weekly && python3 review.py >> all.log 2>&1
0  0	* * 7 	root	[ $(date +\%d) -le 07 ] && cd /weekly && python3 meta.py >> meta.log 2>&1
